root = true

[*.editorconfig]
pnfmt_sort_entries = true

[*.cs]
indent_style = space
tab_width = 4
# Language rules
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_diagnostic.CA2000.severity = warning
value_with_hash = text # literal
